<%= form_for(@store_product) do |f| %>
  <% if @store_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store_product.errors.count, "error") %> prohibited this store_product from being saved:</h2>

      <ul>
      <% @store_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :provider %><br>
    <%= f.text_field :provider %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :warehouse_id %><br>
    <%= f.text_field :warehouse_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
