<h1>Listing store_products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Image</th>
      <th>Provider</th>
      <th>Date</th>
      <th>Warehouse</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @store_products.each do |store_product| %>
      <tr>
        <td><%= store_product.name %></td>
        <td><%= store_product.quantity %></td>
        <td><%= store_product.image %></td>
        <td><%= store_product.provider %></td>
        <td><%= store_product.date %></td>
        <td><%= store_product.warehouse %></td>
        <td><%= link_to 'Show', store_product %></td>
        <td><%= link_to 'Edit', edit_store_product_path(store_product) %></td>
        <td><%= link_to 'Destroy', store_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Store product', new_store_product_path %>
