
		<div class="container service">
			
		<% if user_signed_in? %>
   
        <li>Binvenido <%= link_to current_user.email, edit_user_registration_path %></li>
        <li>
          <%= link_to "Salir", destroy_user_session_path, :method => :delete %>
        </li>
 			 <% else %>
   		 <li><%= link_to "Entrar", new_user_session_path %></li>
		<% end %>



			<% @type_products.each do |type_product| %>
			<div class="list-service">		
				<figure>

					<%= image_tag(type_product.image, size: "280") %>
				</figure>
				<div class="text">
					<a href="#">
						<%= link_to type_product.name, products_path(type_product: type_product.name) %>
					</a>
				</div>
			</div>
			<% end %>
		</div>

